// Backgrounds & typography
$primary: #ff038e;
$secondary: #53096c;
$dark-red: #a30279;
$white: #ffffff;
$border-red: #d20006;
$background-pink: #d20172;
$purple-color-rgba: rgba(247,121,226,0.5);
$error-color: #b92424;
