@import 'src/scss/base/colors.scss';
@import 'src/scss/base/font-families.scss';
@import "src/scss/base/mediaqueries.scss";
html, body {width: auto!important; overflow-x: hidden!important} 

body{
  margin: 0;
  padding: 0;
  color: $white;
  background: linear-gradient(90deg, $secondary, $primary 70%);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items:center;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 0.4px;
}
h1 {
  font-family:$font-brand;
}
h2 {
  font-family:$font-family-base;
  font-size: 19px;
  margin-top: 18px;
  letter-spacing: 1px;
}
h3 {
  font-family:$font-family-base;
  font-size: 17px;
  margin-top: auto;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: 15px;
  @include media(tabletUp) {
    margin-left: 0px;
  }
  @include media(desktopUp) {
    margin-left: 0px;
  }
  @include media(largeDesktopUp) {
    margin-left: 0px;
  }
}
.address-select, .address-details {
  h3 {
    margin-left: 0px;
  }
}
.main-header {
  margin-top:65px;
}
hr {
  border: 2px solid $purple-color-rgba;
  border-radius: 5px;
  max-width: 572px;
  margin-top: 17px;
  margin-bottom: 6px;
}
.main-header, 
.time-at-address, 
.postcode-search,
.address-select,
.address-details,
.address-added, .address-form {
  max-width: 570px;
  @include media(mobiletUp) {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  @include media(tabletUp) {
    width: 100%;
  }
  @include media(desktopUp) {
    width: 100%;
  }
  @include media(largeDesktopUp) {
    width: 100%;
  }
}
.postcode-search {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.address-details {
  width: 95%;
  @include media(tabletUp) {
    width: 95%;
  }
  @include media(desktopUp) {
    width: 100%;
  }
  @include media(largeDesktopUp) {
    width: 100%;
  }
}
.time-at-address, .postcode-search {
  margin-top:4px;
}
::placeholder { 
  color: $white;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $white;
}
.btn.btn-primary {
  background-color: $white;
  border: 2px solid $border-red;
  border-radius: 50px;
  width: 424px;
  padding: 27px;
  font-size: 17px;
  font-family: $font-family-base;
  font-weight: 600;
  color: $background-pink;
  align-self: center;
  margin-top: 50px;
  cursor: pointer;
  @include media(mobiletUp) {
    width: 314px;
  }
  @include media(tabletUp) {
    width: 424px;
  }
  @include media(desktopUp) {
    width: 424px;
  }
  @include media(largeDesktopUp) {
    width: 424px;
  }
}






